    /* does not scale well on smaller screens
    please, gods, consider revising
    like, it looks good on the pc, but on a laptop, gaahhhhhhbage
    */
    
    .container {
        margin-top: 5%;
    }
    
    .headline {
        text-align: center;
    }
    
    .special {
        margin-bottom: 10%;
    }
    
    .stat {
        display: flex;
        flex-flow: row wrap;
    }
    
    input {
        width: 40%;
        justify-content: center
    }
    
    .plus:hover {
        background-color: #0A0;
    }
    
    .minus:hover {
        background-color: red;
    }
    
    .minus,
    .plus {
        cursor: pointer;
        /* position: relative; */
    }