.container {
    text-align: center;
}

.special {
    margin-bottom: 10%;
}

.stat {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

input {
    width: 60%;
    justify-content: center
}