@charset "ISO-8859-1";

body {
  background-image:url('https://businessconnect.msu.edu/sites/msubusinessconnect.unix.gravityworksdesign.com/files/12_bg%20aqua_iStock_48911108_hero.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}