.container {
    text-align: center;
    margin: 5% auto;
    border: 0.25vh white solid;
    height: 30vh;
}

.dice-button {
    margin: 1vh;
    background-color: whitesmoke;
    color: black;
    border: white;
}

.dice-counter {
    width: 5vw;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 2vh;
    margin: 1vh;
}

.dice-result {
    font-size: 2vh;
}

.result {
    margin: .5vh;
}

.dice-total {
    margin: 1vh;
    font-size: 4vh;
}