<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 welcome">
      <h2>Greetings, {{ name }}.</h2>
      <br>
      <form [formGroup]="userInfo" (ngSubmit)="createNewUser()" name="userInfo" id="userInfo">
        <input type="text" class="form-control intro" formControlName="name" id="name" placeholder="What's your name?"
          required>
        <br>
        <span><button [disabled]="userInfo.value.name === ''" type="button" class="btn btn-primary"
            (click)="createNewUser()">{{ welcomeButton }}</button></span>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>