body {
    background-color: black;
}

#headerHome {
    margin: auto;
    box-sizing: content-box;
    width: 300px;
    height: 75px;
    border: 10px ridge white;
    background-image: url("marble.jpg");
    font-family: 'Indie Flower', cursive;
    color: black;
    text-align: center;
}

#navBar {
    font-size: 20px;
    box-sizing: content-box;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid white;
    margin: auto;
    background-image: url("parchment.jpg");
}

#link {
    margin: 10px;
    height: 10px;
    font-family: 'Indie Flower', cursive;
}

#bodyHome {
    display: flex;
    flex-direction: column;
}

#line {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

#content {
    margin: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    border: 10px ridge white;
    background-image: url("parchment.jpg");
    font-family: 'Indie Flower', cursive;
    color: white;
    padding-left: 5px;
}

.image {
    margin: auto;
}

#headerBlog {
    margin: auto;
    box-sizing: content-box;
    width: 175px;
    height: 75px;
    border: 10px ridge white;
    background-image: url("marble.jpg");
    font-family: 'Indie Flower', cursive;
    color: black;
    text-align: center;
}

#bodyBlog {
    display: flex;
    flex-direction: column;
}

#headerGame {
    margin: auto;
    box-sizing: content-box;
    width: 450px;
    height: 75px;
    border: 10px ridge white;
    background-image: url("marble.jpg");
    font-family: 'Indie Flower', cursive;
    color: black;
    text-align: center;
}

.gameSpace {
    display: flex;
    flex-direction: row;
}

#headerRecipeSearch {
    margin: auto;
    box-sizing: content-box;
    width: 550px;
    height: 75px;
    border: 10px ridge white;
    background-image: url("marble.jpg");
    font-family: 'Indie Flower', cursive;
    color: black;
    text-align: center;
}

#kitchenFloor {
    margin: auto;
    box-sizing: content-box;
    width: 700px;
    height: 700px;
    border: 10px ridge white;
    background-image: url("floorTile.jpg");
}

#actionLog {
    margin: auto;
    box-sizing: content-box;
    width: 360px;
    height: 700px;
    border: 10px ridge white;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Indie Flower', cursive;
    color: white;
    background-image: url("parchment.jpg");
}

#scroller {
    max-height:100%;
    overflow:auto;
}

#logger {
    padding: 10px;
}

#tableTop1 {
    box-sizing: content-box;
    width: 150px;
    height: 680px;
    border: 10px solid gray;
    background-image: url("tableTop.jpg");
    position: relative;
}

#oven{
    box-sizing: content-box;
    width: 130px;
    height: 130px;
    background-image: url("oven.png");
    background-color: gray;
    position: relative;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

#stove{
    box-sizing: content-box;
    width: 128px;
    height: 128px;
    background-image: url("stove.png");
    background-color: gray;
    position: relative;
    left: 10px;
    top: 20px;
    cursor: pointer;
}

#sink{
    box-sizing: content-box;
    width: 128px;
    height: 128px;
    background-image: url("sink.png");
    background-color: gray;
    position: relative;
    left: 10px;
    top: 30px;
    cursor: pointer;
}

#tableTop2 {
    box-sizing: content-box;
    width: 400px;
    height: 150px;
    border-top: 10px solid gray;
    border-right: 10px solid gray;
    border-bottom: 10px solid gray;
    background-image: url("tableTop.jpg");
    position: relative;
    left: 160px;
    bottom: 170px;
}

#tableTop3 {
    box-sizing: content-box;
    width: 150px;
    height: 300px;
    border: 10px solid gray;
    background-image: url("tableTop.jpg");
    position: relative;
    left: 400px;
    bottom: 775px;
}

#measuringCup {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-image: url("measuringCup.jpg");
    position: absolute;
    bottom: 200px;
    left: 15px;
    cursor: pointer;
}

#measuringSpoon {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-image: url("measuringSpoons.png");
    background-color: white;
    position: absolute;
    bottom: 200px;
    left: 85px;
    cursor: pointer;
}

#cakePans {
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    z-index: 0;
    background-image: url("cakePans.jpg");
    background-color: white;
    position: absolute;
    bottom: 175px;
    left: 25px;
    cursor: pointer;
}

#mixingBowl {
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    z-index: 0;
    background-image: url("mixingBowl.jpg");
    background-color: white;
    position: absolute;
    bottom: 25px;
    left: 25px;
    cursor: pointer;
}

#whisk {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 0;
    background-image: url("whisk.jpg");
    background-color: white;
    position: absolute;
    bottom: 125px;
    left: 50px;
    cursor: pointer;
}

#pot {
    box-sizing: content-box;
    width: 100px;
    height: 80px;
    z-index: 1;
    background-image: url("pot.jpg");
    background-color: white;
    position: absolute;
    bottom: 25px;
    left: 25px;
    cursor: pointer;
}

#vanillaExtract {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-image: url("vanillaExtract.jpg");
    background-color: white;
    position: absolute;
    bottom: 85px;
    left: 25px;
    cursor: pointer;
}

#cookingOil {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-image: url("cookingOil.jpg");
    background-color: white;
    position: absolute;
    bottom: 15px;
    left: 25px;
    cursor: pointer;
}

#milk {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-image: url("milk.jpg");
    background-color: white;
    position: absolute;
    bottom: 85px;
    left: 100px;
    cursor: pointer;
}

#eggs {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-image: url("eggs.jpg");
    background-color: white;
    position: absolute;
    bottom: 15px;
    left: 100px;
    cursor: pointer;
}

#salt {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-image: url("salt.jpg");
    background-color: white;
    position: absolute;
    bottom: 85px;
    left: 175px;
    cursor: pointer;
}

#bakingPowder {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-image: url("bakingPowder.jpg");
    background-color: white;
    position: absolute;
    bottom: 15px;
    left: 175px;
    cursor: pointer;
}

#bakingSoda {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-image: url("bakingSoda.jpg");
    background-color: white;
    position: absolute;
    bottom: 85px;
    left: 250px;
    cursor: pointer;
}

#cocoaPowder {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-image: url("cocoaPowder.jpg");
    background-color: white;
    position: absolute;
    bottom: 15px;
    left: 250px;
    cursor: pointer;
}

#flour {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-image: url("flour.jpg");
    background-color: white;
    position: absolute;
    bottom: 85px;
    left: 325px;
    cursor: pointer;
}

#sugar {
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    z-index: 1;
    background-image: url("sugar.jpg");
    background-color: white;
    position: absolute;
    bottom: 15px;
    left: 325px;
    cursor: pointer;
}

#recipe {
    margin: auto;
    box-sizing: content-box;
    width: 625px;
    height: 600px;
    border: 10px ridge white;
    background-image: url("parchment.jpg");
    font-family: 'Indie Flower', cursive;
    color: white;
}

.measurements {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.measurements p {
    color: black;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    display: block;
}

.measurements p:hover {
    background-color: #ddd
}

.show {display:block;}

.complete {color: green;}

#recipeApi {
    font-family: 'Indie Flower', cursive;
    display: flex;
    flex-direction: column;
    border: 10px ridge white;
    margin: auto;
    color: white;
    background-image: url("marble.jpg")
}
  
#searchBox {
    font-size: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    border: solid white;
    padding: 20px;
    margin: auto;
    background-image: url("parchment.jpg");
}
  
#input {
    margin: 15px;
    height:20px;
    font-family: 'Indie Flower', cursive;
}
  
#button {
    margin-top: 16px;
    height:30px;
    font-family: 'Indie Flower', cursive;
}

img {
    height:200px;
    width:200px;
    border: solid white
}
  
#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    width: 200px;
    border: solid;
    margin:20px;
    padding:10px;
    background-image: url("parchment.jpg");
}