.yellowgradient{
    background-image: linear-gradient(to bottom right,  yellow, black);
    position: relative;
    width: 200px;
    height: 200px;
    
    z-index: -2;
    color: rgb(255,255,0,.1);
    opacity: 100%;

}
.yellowgradient1{
background-image: linear-gradient(to bottom right,  yellow, black);
position: relative;
width: 190px;
height: 190px;

z-index: -2;
color: rgb(255,255,0,.1);
opacity: 90%;

}
.yellowgradient2{
background-image: linear-gradient(to bottom right,  yellow, black);
position: relative;
width: 180px;
height: 180px;

z-index: -2;
color: rgb(255,255,0,.1);
opacity: 80%;

}
.yellowgradient3{
background-image: linear-gradient(to bottom right,  yellow, black);
position: relative;
width: 170px;
height: 170px;

z-index: -2;
color: rgb(255,255,0,.1);
opacity: 70%;

}
.yellowgradient4{
background-image: linear-gradient(to bottom right,  yellow, black);
position: relative;
width: 160px;
height: 160px;

z-index: -2;
color: rgb(255,255,0,.1);
opacity: 60%;

}
.yellowgradient5{
background-image: linear-gradient(to bottom right,  yellow, black);
position: relative;
width: 150px;
height:150px;

z-index: -2;
color: rgb(255,255,0,.1);
opacity: 50%;
}

body {
background-color:black;
}

.yellowbox {
width: 95px;
height: 95px;
background-image: linear-gradient(to bottom right, yellow, black);
}
.redBox {
width: 10px;
height:10px;
background-color: red;
border: solid green;
border-radius:2px;
display: inline-block;
margin: 2px;
}
/*div > div {
    width: 90%;
    height: 90%;
    color: rgba(255,255,0,.1);
}

body {
    background-color: black;
}

.redbox {
    width: 10px;
    height: 10px;
    background-color: red;
    border: solid green 1px;
    border-radius: 2px;
    display: inline-block;
    margin: 2px;
}*/