<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project-One</display-name>
  <context-param>
    <param-name>applicationMessage</param-name>
    <param-value>Hello_From_Project-One</param-value>
  </context-param>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>servlets.HelloWorld</servlet-class>
    <init-param>
      <param-name>servletMessage</param-name>
      <param-value>Hello_From_Hello_World</param-value>
    </init-param>
  </servlet>
  <!-- servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Calculator</servlet-name>
    <servlet-class>servlets.CalculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculator</servlet-name>
    <url-pattern>/calculator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultServlet</display-name>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>servlets.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <!--servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>servlets.FrontController</servlet-class>
  </servlet>
  < servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description></description>
    <display-name>DatabaseAccess</display-name>
    <servlet-name>DatabaseAccess</servlet-name>
    <servlet-class>servlets.DatabaseAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseAccess</servlet-name>
    <url-pattern>/databaseAccess</url-pattern>
  </servlet-mapping>-->
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employees</url-pattern>
  </servlet-mapping>
  <!-- servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employeeHome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/managerHome</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>AccountsServlet</display-name>
    <servlet-name>AccountsServlet</servlet-name>
    <servlet-class>servlets.AccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsServlet</servlet-name>
    <url-pattern>/accounts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountsServlet</servlet-name>
    <url-pattern>/accountsPending</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountsServlet</servlet-name>
    <url-pattern>/accountsResolved</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountsServlet</servlet-name>
    <url-pattern>/pendingByBossId</url-pattern>
  </servlet-mapping>
</web-app>