<div class="container">
    <h2 class="title">Combat</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="info">
                <div class="row name-hp">
                    <div class="col-md-6 name">
                        <h2>{{ name }}</h2>
                    </div>
                    <div class="col-md-6 hp">
                        <h4>HP: {{ health }}</h4>
                    </div>
                </div>
                <div class="row hud">
                    <div class="col-md-4">
                        <!-- <button type="button" class="btn btn-primary" [disabled]="distanceBetween === 0">Move</button> -->
                        <button type="button" class="btn btn-primary">Move</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" (click)="attack()">Attack</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" (click)="defend()">Defend</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 dialogue">
            <div class="words" *ngFor="let words of wordsArray">
                {{ words }}
            </div>
            <!-- <div *ngIf="enemyType">
                <div class="enemy-type" *ngFor="let enemy of enemyMapKeys">
                    <button class="btn btn-primary" (click)="selectEnemy(enemy)">{{ enemy }}</button>
                </div>
            </div> -->
        </div>
        <div class="col-md-4 menu">
            <app-dice-tray [message]="messageFromCombat" (diceMessage)="showMessageFromDice($event)"></app-dice-tray>
            <!-- <div>Orks: {{ orks }}</div>
            <br> -->
            <button type="button" class="btn btn-primary ork-button" (click)="createOrk()" [disabled]="rollingDice">Ork</button>
            <div class="info" *ngFor="let ork of orksArray"> 
                <button type="button" [ngClass]="enemyType ? 'enemy-button-active' : 'enemy-button'" (click)="selectEnemy(ork)" [value]="ork" [disabled]="!enemyType">
                    <div class="row name-hp">
                        <div class="col-md-6 name">
                            <h2>Ork</h2>
                        </div>
                        <div class="col-md-6 hp">
                            <h4>HP: {{ ork.health }}</h4>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>