#stat-page {
    display: flex;
    flex-direction: row;
}

#calc {
    width: 20%;
    background-color: aquamarine;
}

#chart {
    width: 100%;
    background-color: antiquewhite;
}

.row {
    margin-top: 2%;
}