<div class="container">
    <div class="intro row">
        <div class="col-xs-12">
            <!-- <input type="text" [(ngModel)]="name"> -->
            <!-- <h2>Greetings, {{ this.userInfo.name }}</h2> -->
            <h2>Greetings, {{ traveler }}.</h2>
            <form [formGroup]="userInfo" (ngSubmit)="createNewUser()" name="userInfo" id="userInfo">
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="What's your name?" (input)="onNameEnter($event)">
                <span><button type="button" class="btn btn-primary" (mouseenter)="onHoverWelcome()" (mouseleave)="offHoverWelcome()" (click)="createNewUser()">{{ welcomeButton }}</button></span>
            </form>
        </div>
    </div>
</div>
<hr>
<div id="stat-page">
    <div id="calc">
        <app-calculator></app-calculator>
    </div>
    <div id="chart">
        <app-perk-chart></app-perk-chart>
    </div>
</div>