.container {
    text-align: center;
    margin-top: 10%;
}

.stat {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 1%;
}

.rank {
    text-align: center;
}

.perk-label {
    font-size: 2vh;
}

.perk-display {
    margin-top: 2vh;
}

.perk-button {
    height: 15vh;
    background-color: gray;
    border: 3px outset white;
}