<div class="row container">
    <div class="col-md-8">
        <h2>Perk Chart</h2>
        <div class="row stat">
            <div class="col-md-12 perk-buttons">
                <label class="total-label">{{traveler}}, there are perks to being so R.A.D.</label>
            </div>
        </div>
        <div class="row stat">
            <div class="col-md-2"></div>
            <div class="col-md-2 rank">Ranger
                <div>
                    <h3><span class="badge badge-secondary">{{ userInfo.value.ranger }}</span></h3>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 rank">Assault
                <div>
                    <h3><span class="badge badge-secondary">{{ userInfo.value.assault }}</span></h3>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 rank">Defense
                <div>
                    <h3><span class="badge badge-secondary">{{ userInfo.value.defense }}</span></h3>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row stat">
            <div class="col-md-2"></div>
            <button class="col-md-2 perk-button" (click)="choosePerk('RP1')" (mouseenter)="onHover('RP1')"
                (mouseleave)="offHover()">Ranger Perk 1</button>
            <div class="col-md-1"></div>
            <button class="col-md-2 perk-button" (click)="choosePerk('AP1')" (mouseenter)="onHover('AP1')"
                (mouseleave)="offHover()">Assault Perk 1</button>
            <div class="col-md-1"></div>
            <button class="col-md-2 perk-button" (click)="choosePerk('DP1')" (mouseenter)="onHover('DP1')"
                (mouseleave)="offHover()">Defense Perk 1</button>
            <div class="col-md-2"></div>
        </div>
        <div class="row stat">
            <div class="col-md-2"></div>
            <button class="col-md-2 perk-button" [disabled]="!lvlTwoRan" (click)="choosePerk('RP2')"
                (mouseenter)="onHover('RP2')" (mouseleave)="offHover()">Ranger Perk
                2</button>
            <div class="col-md-1"></div>
            <button class="col-md-2 perk-button" [disabled]="!lvlTwoAss" (click)="choosePerk('AP2')"
                (mouseenter)="onHover('AP2')" (mouseleave)="offHover()">Assault Perk
                2</button>
            <div class="col-md-1"></div>
            <button class="col-md-2 perk-button" [disabled]="!lvlTwoDef" (click)="choosePerk('DP2')"
                (mouseenter)="onHover('DP2')" (mouseleave)="offHover()">Defense Perk
                2</button>
            <div class="col-md-2"></div>
        </div>
        <div class="row stat">
            <div class="col-md-2"></div>
            <button class="col-md-2 perk-button" [disabled]="!lvlThreeRan" (click)="choosePerk('RP3')"
                (mouseenter)="onHover('RP3')" (mouseleave)="offHover()">Ranger Perk
                3</button>
            <div class="col-md-1"></div>
            <button class="col-md-2 perk-button" [disabled]="!lvlThreeAss" (click)="choosePerk('AP3')"
                (mouseenter)="onHover('AP3')" (mouseleave)="offHover()">Assault Perk
                3</button>
            <div class="col-md-1"></div>
            <button class="col-md-2 perk-button" [disabled]="!lvlThreeDef" (click)="choosePerk('DP3')"
                (mouseenter)="onHover('DP3')" (mouseleave)="offHover()">Defense Perk
                3</button>
            <div class="col-md-2"></div>
        </div>
        <div class="row stat">
            <div class="col-md-2"></div>
            <button class="col-md-2 perk-button" [disabled]="!lvlFourRan" (click)="choosePerk('RP4')"
                (mouseenter)="onHover('RP4')" (mouseleave)="offHover()">Ranger Perk
                4</button>
            <div class="col-md-1"></div>
            <button class="col-md-2 perk-button" [disabled]="!lvlFourAss" (click)="choosePerk('AP4')"
                (mouseenter)="onHover('AP4')" (mouseleave)="offHover()">Assault Perk
                4</button>
            <div class="col-md-1"></div>
            <button class="col-md-2 perk-button" [disabled]="!lvlFourDef" (click)="choosePerk('DP4')"
                (mouseenter)="onHover('DP4')" (mouseleave)="offHover()">Defense Perk
                4</button>
            <div class="col-md-2"></div>
        </div>
        <!-- <div class="row stat perk-submit">
            <button [disabled]="selectedPerks.length !== 3" type="button" class="btn btn-primary"
                (click)="enterUserPerks()">{{ perkButton }}</button>
        </div> -->
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h5>Perk Description</h5>
            </div>
        </div>
        <div class="row perk-descrip">
            <div class="col-md-12">{{ description }}</div>
        </div>
        <div class="row perk-display">
            <div class="col-md-12">
                <h5>Selected Perks</h5>
            </div>
        </div>
        <div class="row perks">
            <div class="col-md-12">
                <div *ngFor="let perk of selectedPerks">{{ perk }}</div>
            </div>
        </div>
        <div class="row perk-submit">
            <div class="col-md-12">
                <button [disabled]="selectedPerks.length !== 3" type="button" class="btn btn-primary"
                    (click)="enterUserPerks()">{{ perkButton }}</button>
            </div>
        </div>
    </div>
</div>