<div class="container">
    <h2>Perk Chart</h2>
    <!-- need a 3 x 11 table for each stat horizontal and each level vertical
  th is the level, data bind to stat on calc
  td is each perk, made available depending on the the # in the calc
-->
    <div class="row stat">
        <div class="col-md-12 perk-display">
            <label class="total-label">{{traveler}}, there are perks to being so R.A.D.</label>
        </div>
    </div>
    <div class="row stat">
        <div class="col-md-2"></div>
        <div class="col-md-2 rank">Ranger
            <div>
                <h3><span class="badge badge-secondary">{{ userInfo.value.ranger }}</span></h3>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 rank">Assault
            <div>
                <h3><span class="badge badge-secondary">{{ userInfo.value.assault }}</span></h3>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 rank">Defense
            <div>
                <h3><span class="badge badge-secondary">{{ userInfo.value.defense }}</span></h3>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row stat">
        <div class="col-md-2"></div>
        <button class="col-md-2 perk-button">Ranger Perk 1</button>
        <div class="col-md-1"></div>
        <button class="col-md-2 perk-button">Assault Perk 1</button>
        <div class="col-md-1"></div>
        <button class="col-md-2 perk-button">Defense Perk 1</button>
        <div class="col-md-2"></div>
    </div>
    <div class="row stat">
        <div class="col-md-2"></div>
        <button class="col-md-2 perk-button" [disabled]="!lvlTwoRan">Ranger Perk 2</button>
        <div class="col-md-1"></div>
        <button class="col-md-2 perk-button" [disabled]="!lvlTwoAss">Assault Perk 2</button>
        <div class="col-md-1"></div>
        <button class="col-md-2 perk-button" [disabled]="!lvlTwoDef">Defense Perk 2</button>
        <div class="col-md-2"></div>
    </div>
    <div class="row stat">
        <div class="col-md-2"></div>
        <button class="col-md-2 perk-button" [disabled]="!lvlThreeRan">Ranger Perk 3</button>
        <div class="col-md-1"></div>
        <button class="col-md-2 perk-button" [disabled]="!lvlThreeAss">Assault Perk 3</button>
        <div class="col-md-1"></div>
        <button class="col-md-2 perk-button" [disabled]="!lvlThreeDef">Defense Perk 3</button>
        <div class="col-md-2"></div>
    </div>
</div>