.container {
    text-align: center;
    margin-top: 1%;
}

.stat {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 2%;
}

.rank {
    text-align: center;
}